body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.old{
  color: green;
}

.new{
  color: orange;
}


.toggle-button{
  width: 100px;
  height: 50px;
  position: relative;
  background-color: gray;
  border-radius: 31px
}



.toggler{

  position: absolute;
  left: 0;
  background-color: black;
  border-radius: 50%;
  height: 50px;
  width: 50px;

}


.toggle-button.active{
  background-color: #cddc39;
}

.toggle-button.active .toggler{
  background-color: #656e12;
  right: 0 !important;
  left: unset;
}


.dark-mode{
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
}


.danger{
  color: red;
}